body {
    background-color: rgb(179, 187, 193);
}

h1 {
    text-align: center;
}

h3{
    text-align: center;
}

button {
    background-color: #e7e7e7;
    color: black;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    cursor: pointer;
    margin: 0 auto;
}

.playerRoll input {
    color: green;
}

.opponentRoll input {
    color: red;
}

input[type="number"] {
    text-align: right;
}

input[readonly] {
    background-color: #f0f0f0;
    border: 2px solid #333;
    font-size: 60px;
    width: 300px;
    display: block;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

.resultMessage input {
    text-align: center;
    font-size: 40px;
}