body {
    background-color: rgb(179, 187, 193);
}

h1 {
    text-align: center;
}

h3{
    text-align: center;
}

button {
    background-color: #e7e7e7;
    color: black;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    cursor: pointer;
    margin: 0 auto;
}

.playerRoll {
    color: green;
    font-size: 60px;
    text-align: center;
    text-shadow: 2px 2px black;
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
}

.opponentRoll {
    color: red;
    font-size: 60px;
    text-align: center;
    text-shadow: 2px 2px black;
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
}