body {
    background-color: rgb(179, 187, 193);
}

h1 {
    text-align: center;
}

h3{
    text-align: center;
}

.playerRoll {
    color: green;
    font-size: 60px;
    text-align: center;
    text-shadow: 2px 2px black;
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
}

.opponentRoll {
    color: red;
    font-size: 60px;
    text-align: center;
    text-shadow: 2px 2px black;
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
}